{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Grocery Web App by Vibhanshu Garg</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <!-- <div class="container mt-5">
            <a href="/login">Login</a>
            <div class="row">
                
                
                
            </div>
            
        </div> -->
        <div class="container">
            <div class="card py-3 my-3">
                <div class="card-body ">
                    <h3 class="mb-4">Reading Right</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Developed by - <strong>Vibhanshu Garg</strong></li>
                        <li class="list-group-item">College Name - <strong>MNIT Jaipur</strong></li>
                        <li class="list-group-item">College ID - <strong>2019UEC1697</strong></li>
                        <li class="list-group-item">Tech Stack Used - <strong>Django, sqlite</strong></li>
                        
                      </ul>
                      <div class="mt-4">
                        <a href="/" >Back to home</a>
                      </div>
                    
                    
                </div>
            </div>
        </div>
        
    </body>
</html>
