{% load static %}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Filter Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>

<body>
    <div class="container mt-5">
        <!-- top -->

        <a href="/logout">Logout</a>
        <a href="/" style="color: green;" class="ml-3">Home</a>
        <a href="/add" style="color: red;" class="ml-3">Add Items</a>
        <a href="/main" style="color: red;" class="ml-3">View All Items</a>
        <div class="row">

            <div class="col-lg-6">

                <h1>View Grocery List</h1>
            </div>
            <div class="col-lg-6 float-right">
                <div class="row">
                    <form action="{% url 'filter' %}" method="POST">
                        {%csrf_token%}
                        <input type="date" class="form-control" name="filterdate">
                        <input type="submit" class="btn btn-danger mt-2" value="Filter">
                    </form>
                </div>
            </div>
        </div>

        <p>Logged in as <b>{{request.user.username}}</b></p>
        <!-- // top -->
        <!-- Grocery Cards -->

        <!--- -->
        <!-- Loop This -->

        {% for i in data %}
        {% if i.uploadedby == user.username and i.date|date:"Y-m-d" == filterdate %}
        
        <p style="color: blue">Showing results for {{i.date|date:"Y-m-d"}}</p><br>
        <div class="row ">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{i.itemname}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{i.itemquantity}} Pcs.</h6>
                        <p class="text-success" style="text-transform: uppercase">{{i.status}}</p>
                        <span class="text-muted">{{i.date|date:"Y-m-d"}}</span> <br>
                        <div style="display:flex;" class="mt-3">
                            <a href="/update/{{i.id}}" class="mr-3">Update</a>
                            <form action="{% url 'delete' i.id %}" method="POST">
                                {%csrf_token%}
                                <input style="border:0 !important;" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
        
        {% endif %}
        {% endfor %}
        
    </div>
</body>

</html>