{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Update Items</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Update Grocery List</h1>
            <form action="" method="post">
            {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">
                    Update
                </button>
            </form>
        </div>
    </body> 
</html>
